.det {
    margin: 5px;
    background-color: cornsilk;
    
  }
 
  .det img {
    float: right;  
    border-radius: 5px 5px 0 0;
    width: 40%;
    height: 60%;
    margin: 2% 2% 2% 2%;
  }
  
  .detalle {
    float:right;
    margin: 6% 2% 2% 2%;
    width: 40%;
    height: 60%;
    
  }
  
  .detalle h4{
    font-family: serif;
    font-size: 24px;
    font-weight: 600;
    color: darkslategray;
  }
  .detalle p{
    font-family: serif;
    font-size: 20px;
    font-style: italic;
    color: rgb(26, 23, 23);
  }
  .detalle a{
    font-family: fantasy;
    font-size: 22px;
    font-weight: 200;
    color: rgb(6, 27, 6);
  }